.footer{
    padding-top: 15px;
    padding-bottom: 60px; 
}

.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__top-right{
    display: flex;
    align-items: center;
}

.footer__nav-list{
    display: flex;
}

.footer__nav-item{
    margin-left: 25px;

    &:first-child{
        margin-left: 0;
    }
}

.footer__nav-link{
    position: relative;

    color: $deepCove;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;

 
    &::before{
        content: "";
        position: absolute;
        width: 0;
        margin-left: auto;
        margin-right: auto;
        height: 3px;
        bottom: -7px;

        transition: width .3s linear;
        background-color: $chetwodeBlue;
    }

    &:hover{
        &:before{
            width: 100%;
        }
    }
}

.footer__btn-consultation{
    text-align: center;
    
    margin-left: 28px;
    margin-bottom: 10px;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    color: $deepCove;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4;
}

.footer__bottom-left{
    flex-basis: 43%;
}

.footer__bottom-right{
    flex-basis: 43%;
    text-align: right;
}

@media(max-width: 1152px){
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer__top-logos{
        flex-basis: 100%;
        text-align: center;
    }
    .footer__top-right{
        display: flex;
        flex-basis: 100%;
        flex-wrap :wrap;
    }
    .footer__nav{
        margin-top: 10px;

        flex-basis: 100%;
        justify-content: center;
    }
    .footer__nav-list{
        justify-content: center;
    }

    .footer__right-info{
        margin-top: 10px;
        margin-bottom: 10px;

        flex-basis: 100%;
    }
    
    .footer__btn-consultation{
        display: block;
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 795px){
    .footer__bottom-left{
        flex-basis: 100%;
        text-align: center;
    }
    .footer__bottom-right{
        margin-top: 15px;

        flex-basis: 100%;
        text-align: center;
    }
    .footer__nav-list{
        flex-wrap: wrap;
    }
    .footer__nav-item{
        flex-basis: 100%;
        text-align: center;
        margin-left: 0;
    }
}