.specifications{
    position: relative;

    background: url('../img/specifications/specifications-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 

.specifications__heading{
    position: relative;
    margin-top: 100px;
 
    display: flex;
    align-items: center;
}

.specifications__title{
    margin-right: 50px;
    margin-top: 0;
}

.specifications__content{
    margin-top: 100px;
    margin-bottom: 50px;
    min-height: 645px;
    position: relative;

    background: url("../img/specifications/house.png");
    background-position: center;
    background-repeat: no-repeat;
}

.specifications__info-item{
    display: flex;
    align-items: center;

    
    &.one{
        position: absolute;
        left: 50px;
        top: 52px;
    }
    &.two{
        position: absolute;
        left: 5px;
        top: 194px;
    }
    &.three{
        position: absolute;
        left: -5px;
        top: 327px;
    }
    &.four{
        position: absolute;
        left: 87px;
        top: 462px;
    }
}

.specifications__info{
    margin-right: 20px;

    text-align: right;
}

.specifications__number{
    color: $deepCove;
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
}

.specification__text{
    color: $deepCove;
    font-size: 22px;
    font-weight: 500;
}

.specification__img{
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $chetwodeBlue;
    border-radius: 50%;

    img{
        display: block;
        max-width:100%;
    }
}

.specifications__price{
    position: absolute;
    right: 61px;
    top: 168px;
}

.specifications__price-item{
    max-width: 310px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    border-radius: 50px;
    background-color: $chetwodeBlue;
    background-image: linear-gradient(-39deg, #676bc2 0%, #b8adfe 100%);

    text-align: right;
 
    &.two{
        margin-top: 5px;

        border: 3px solid $chetwodeBlue;
        background-image: none;
        background-color: $white !important;

        .specifications__price-number{
            color: $deepCove;
            span{
                color: $deepCove;
            }
        }
        .specifications__price-text{
            color: $deepCove;
        }
    }
}


.specifications__price-text{
    color: $white;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
}

.specifications__price-number{
    color: $white;;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;

    span{
        color: $white;
        font-size: 22px;
        font-weight: 500;
    }
}
 
.specifications__btn{
    position: absolute;
    bottom: 0;
    left: 493px;

    a{
        color: #000;
    
        padding: 20px 30px;
        
        border: 1px solid  $melrose;
        box-shadow: 0 0 33px 2px rgba(184, 173, 254, 0.5), 0 0 33px 2px rgba(184, 173, 254, 0.5), 0 0 33px 2px rgba(184, 173, 254, 0.5), 0 0 33px 2px rgba(184, 173, 254, 0.5);
        background-color: $blueMarguerite;
        background-clip:  padding-box;
        border-radius: 10px;

        color: $white;
        font-size: 17px;
        font-weight: 600;
        line-height: 1;

        transition: background-color .2s linear;
        &:hover{
            background-color: darken($blueMarguerite, 15%);
        }
    }

}


.specifications__choose{
    display: flex;
    flex-wrap :wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.specifications__choose-item{
    position: relative;
    
    flex-basis: 500px;
    padding: 20px 145px 40px 20px;

    box-shadow: 0 1px 4px rgba(9, 10, 12, 0.35);
    border-radius: 10px;
    background-color: #676bc2;

    &.two{
        box-shadow: 0 1px 4px rgba(9, 10, 12, 0.35);
        border-radius: 10px;
        background-color: #000000;
        background-image: linear-gradient(-40deg, #676bc2 0%, #b8adfe 100%);

    }
}

.specifications__choose-title{
    margin-bottom: 4px;

    color: $white;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
}

.specifications__choose-text{
    margin-bottom: 30px;

    color: $white;;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.2
}

.specifications__choose-link{
    color: $white;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid $white;

    transition: color .2s linear, border-bottom .2s linear;
    &:hover{
        color: #abff97;
        border-bottom: 1px solid #abff97;
    }
}
 

.specifications__choose-center-img{
    text-align: center;
}

.specifications__choose-center-text{
    color: $deepCove;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.specifications__choose-img{
    position: absolute;
    right: -10px;
    top: -15px;
}

 
@media (max-width: 1207px){
    .specifications__content{
        min-height: auto;
    }
    .specifications__info-inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
   
    .specifications__info-item{
        flex-basis: 31%;    
        justify-content: space-between;
    }
 
    .specifications__price-item.two {
        margin-top: 0;
        margin-left: 15px;
    }

 
    .specifications__price {
        margin-top: 20px;

        display: flex;
        justify-content: center;
    }

    .specifications__btn{
        text-align: center;
        margin-top: 30px;
    }

    .specifications__info-item{
        margin-bottom: 15px;
 
        &.one{
            position: static;
            left: 0;
            top: 0;
        }
        &.two{
            position: static;
            left:0;
            top:  0;
        }
        &.three{
            position: static;
            left: 0;
            top:  0;
        }
        &.four{
            position: static;
            left: 0;
            top:  0;
        }
    }

    .specification__img{
        flex-shrink: 0;
    }

    .specifications__price {
        position: static;
        top: 0;
        left: 0;
    }
    .specifications__price {
        bottom: 0;
        left: 0;
    }
    .specifications__btn{
        position: static;
        bottom: 0;
        left: 0;
    }
    .specifications__content{
        margin-top: 46px;
        background: none;
    }
    
}

 @media (max-width: 970px){
     .specifications__heading{
         margin-top: 35px;
         flex-wrap: wrap;
     }
 }

 @media (max-width: 880px){
    .specifications__info-item{
        flex-basis: 45%;
        justify-content: space-between;
    }
 }  

 @media (max-width: 684px){
     .specifications__title{
         margin-right: 0;
         margin-bottom: 15px;
     }
 }

 @media (max-width: 665px){
     .specifications__price {
         flex-direction: column;
         align-items: center;
     }
     .specifications__price-item.two{
        margin-top: 15px;
        margin-left: 0;
     }
     .specifications__number{
         font-size: 47px;
     }
     .specification__text{
         font-size: 18px;
     }
 }

 @media (max-width: 601px){
    .specifications__info-item{
        margin-bottom: 25px;

        flex-basis: 100%;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
    .specifications__number{
        text-align: center;
    }
    .specifications__info{
        margin-right: 0;
    }
    .specifications__price-number{
        font-size: 51px;
    }
 }

 @media (max-width: 1170px){
     .specifications__choose-item{
         flex-basis: 100%;
         padding-right: 172px;
     }
     .specifications__choose-center{
         margin-top: 20px;
         margin-bottom: 20px;
     }
     .specifications__choose-img{
         right: 0;
     }
 }

 @media (max-width: 504px){
    .specifications__choose-img{
        display: none;
    }
    .specifications__choose-item{
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .specifications__choose-text{
        margin-bottom: 22px;
    }
 
 }