<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    {{> header }}

    {{> body }}

    {{> footer }}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="./assets/js/jquery.maskedinput.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <script src="assets/js/index.js"></script>
</body>

</html>