<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    {{> header }}

    {{> body }}

    {{> footer }}



    <form class="form" action="" style="display: none;" id="hidden-content">
        <div class="form__content">
            <div class="form__title">
                Заполните форму
            </div>
            <div class="form__subtitle">
                и наши менеджеры свяжуться с
                вами в ближайшие 10 минут
            </div>
            <div class="form__inputs">
                <input class="form__input form__input-popup" type="text" placeholder="Имя" required>
                <input class="form__input form__input-popup" type="text" placeholder="+8 (___) ___-__-__" id="phoneTwo"
                    required>
                <input class="form__input form__input-popup" type="text" placeholder="Ваш вопрос" required>
            </div>

            <button class="form__btn">Отправить</button>

            <div class="form__footer">
                При нажатии на кнопку “отправить” вы<br>
                соглашаетесь с <a href="#"> политикой конфиденциальности</a>
            </div>
        </div>
    </form>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="./assets/js/jquery.maskedinput.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <script src="assets/js/index.js"></script>
</body>

</html>