<!-- footer -->
<div class="footer ">
    <div class="container">

        <div class="footer__top">

            <div class="footer__top-logos logo">
                <a href="#">
                    <img src="./assets/img/logo.png" alt="Логотип">
                </a>
            </div>

            <div class="footer__top-right">
                <nav class="footer__nav">
                    <ul class="footer__nav-list">

                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#advantages">Преимущества</a>
                        </li>

                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#specifications">Характеристики</a>
                        </li>

                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#transfers">Результат</a>
                        </li>

                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#reviews">Отзывы</a>
                        </li>

                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#find">Контакты</a>
                        </li>

                    </ul>
                </nav><!-- header__nav -->

                <div class="footer__right-info">
                    <button class="footer__btn-consultation btn-consultation">
                        Получить консультацию
                    </button>
                </div>
            </div><!-- header__top-right -->

        </div><!-- header__top -->

        <div class="footer__bottom ">
            <div class="footer__bottom-left">
                Политика конфиденциальности<br>
                2020 arm.sitexdev.com. Все права защищены
            </div>
            <div class="footer__bottom-right">
                Политика конфиденциальности<br>
                Разработка сайта: UladzislauKorzun
            </div>
        </div>

    </div><!-- container -->
</div><!-- footer -->