<header class="header">
    <div class="container">

        <div class="header__top">

            <div class="header__top-logo  logo">
                <a href="#">
                    <img src="./assets/img/logo.png" alt="Логотип">
                </a>
            </div>

            <div class="header__top-right">
                <nav class="header__nav">
                    <ul class="header__nav-list">

                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#">Преимущества</a>
                        </li>

                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#">Характеристики</a>
                        </li>

                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#">Результат</a>
                        </li>

                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#">Отзывы</a>
                        </li>

                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#">Контакты</a>
                        </li>

                    </ul>

                    <div class="header__nav-burger">
                        <img src="./assets/img/menu/iconfinder_menu-alt_134216.svg" alt="меню">
                    </div>
                </nav><!-- header__nav -->

                <div class="header__right-info">
                    <button class="header__btn-consultation btn-consultation">
                        Получить консультацию
                    </button>
                </div>

            </div><!-- header__top-right -->

        </div><!-- header__top -->

        <div class="header__contacts">
            <a class="header__phone" href="tel:+74951234567">+7 (495) 123-45-67</a>
            <a class="header__email" href="mailto:mail@bigarm.ru">mail@bigarm.ru</a>
        </div>

        <div class="header__intro">
            <h1 программа class="header__title">
                Эффективная программа
            </h1>
            <h2 class="header__subtitle">
                <span>Реабилитационный тренажер</span>
                для кисти рук
            </h2>
            <div class="header__desk">
                По физическому здоровью, для восстановления
                кистей рук, людям перенесших травму
                после инсульта
            </div>
            <div class="header__subdesk">
                Первый шаг на пути к выздоровлению!
            </div>
            <a class="header__btn" href="#">
                Узнать подробнее
            </a>

            <div class="header__play play">
                <a class="header__play-video play-video" href="#">
                    <img src="./assets/img/header/play.png" alt="Видео">
                </a>
                <div class="header__play-text play-text">
                    Коротко о программе
                    за <span> 2 минуты</span>
                </div>
            </div>
        </div><!-- header__intro -->

    </div><!-- container -->
</header>