//utilities
@import "utilities/fonts";
@import "utilities/mixins";
@import "utilities/normalize";
@import "utilities/variables";


/* Default styles */
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.btn-consultation{
    padding: 13px 20px;

    color: $deepCove;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    border: none;
    background: none;
    cursor: pointer;
    
    border-radius: 10px;
    background-color: $white;
    border: 1px solid $melrose;


    transition: 
        background-color .2s linear, 
        color .2s linear;

    &:focus {
        outline: none;
    }
    &:hover{
        background-color: darken($melrose, 15%);
        color: $white;
    }
}

.play{
    display: flex;
    align-items: center;
}
 
.play-video{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-image: linear-gradient( 130deg, rgb(103,107,194) 0%, rgb(184,173,254) 100%);

    &:before{
        content: "";
        position: absolute;
        width: 78px;
        height: 78px;

        border: 5px solid $chetwodeBlue;
        border-radius: 50%;
        opacity: 0.2;

        transition: opacity .2s linear;
    }


    &:hover{
        &:before{
            opacity: 1;
        }
    }
}

.play-text{
    max-width: 255px;
    margin-left: 20px;

    color: $bunker;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
        
    span{
        font-weight: 700;
        color: $chetwodeBlue;
    }
}



.container{
    @include min-max(320px, 1210px, 15px);
}


/* Bootstrap */
// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";
// @import "../../../node_modules/bootstrap/scss/grid";


/* Blocks */
@import "./blocks/header";
@import "./blocks/transfers";
@import "./blocks/advantages";